h1{
    color:hsl(231, 72%, 55%);
    margin-left: 200px;

}

a {
    color:rgb(0, 0, 0);
}

a:hover {
    color:rgb(189, 50, 38);
}

h1 {
    margin-left: auto;
}

.table-of-contents {
    line-height: .6em;
    text-align: center;
}

body {
    background-color: rgb(243, 239, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width:80%;
    margin-left:100px;
    margin-bottom: 200px;
    text-align: center;
    line-height: 1.6em;


}

.foot {
    position: center;
    margin-top: 100px;
    margin-bottom: -150px;
    bottom:0;
    left:0;
}


